@import "chooseLevel";
@import "timer";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Share Tech", sans-serif;
  color: #020202;
}
body {
  background: #e1e1e1;
}
html {
  font-size: 62.5%;
}
.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.game__main-title {
  font-size: 3rem;
  margin: 2rem 0;
  text-align: center;
}
.game-board__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game__board {
  display: inline-grid;
  transition: 0.5s all ease-in-out;
  width: 100%;
  margin: 0 auto;
}
.game__board--active {
  opacity: 1;
  gap: 1rem;

  .tile-back {
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    transition: 0.2s ease;
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;

    &--hide {
      transform: rotateY(-180deg);
    }
    .tile__img {
      max-width: 50%;
      pointer-events: none;
      object-fit: contain;
    }
    &.clicked {
      transform: rotateY(0deg);
    }
  }
  .tile-front {
    width: 100%;
    height: 100px;
    position: relative;
    transition: 0.2s ease;
    border-radius: 19px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 19px;
    background: linear-gradient(145deg, #d5d5d5, #fefefe);
    box-shadow: 13px 13px 26px #898989, -13px -13px 26px #ffffff;
    &--hide {
      transition: 0.2s ease;
      transform: rotateY(-180deg);
    }

    &.clicked {
      transform: rotateY(-20deg);
      box-shadow: 13px -13px 26px #ffffff, -13px 13px 26px #898989;
    }
  }
}

// buttons
.glLink {
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 20px;
}

.board--win {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Restart Btn
#restart {
  display: block;
  padding: 5px 20px;
  margin: 30px auto 0;
}
