@import "chooseLevel";
@import "timer";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Share Tech", sans-serif;
  color: #fff;
  // border: 1px solid lime;
}
body {
  background: #2c2c2c;
}
html {
  font-size: 62.5%;
}
.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.game__main-title {
  font-size: 3rem;
  margin: 2rem 0;
  text-align: center;
}
.game__board {
  display: inline-grid;
  gap: 30rem;
  // opacity: 0;
  transition: 0.5s all ease-in-out;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.game__board--active {
  opacity: 1;
  gap: 1rem;

  .tile {
    border: 1px solid #fff;
    display: grid;
    place-items: center;
    &__img {
      max-width: 100%;
      pointer-events: none;
    }
  }
  .clicked {
    background-color: #fff;
  }
}

// buttons
.glLink {
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 20px;
}

.board--win {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
